# terraform
magic-the-gathering/terraform/.terraform
magic-the-gathering/terraform/.terraform-version
magic-the-gathering/terraform/.terraform.lock.hcl
magic-the-gathering/terraform/terraform.tfstate.backup

# prefect
magic-the-gathering/prefect/__pycache__/*
magic-the-gathering/api_to_bq_orchestration-deployment.yaml

# jupyter notebook
**.ipynb
**.ipynb_checkpoints

# large files
**.parquet
**.parquet.snappy